# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
venv/

# PyCharm idea
.idea

# audio data
*.wav
*.mp3

# ignore data
kaldi/kaldi_baseline/data
kaldi/kaldi_baseline/audio

data/voxforge