# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
venv/

# PyCharm idea
.idea

# audio data
*.wav
*.mp3

# ignore data files
data
!data/ner-uk-corpus.txt

models/tf_checkpoints
