# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
venv/

# PyCharm idea
.idea

# audio data
*.wav

# ignore data
kaldi_baseline/data
kaldi_baseline/audio

data/voxforge